.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
    background-color: rgba(250, 195, 182, 49%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.modalContent {
    padding: 2rem;
    width: 32rem;
    height: 45rem;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 2rem;
    z-index: 2;
}

.button {
    border-radius: 10px;
    border: none;
    margin: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
}